using System.Reflection;

[assembly: AssemblyCompany("Deltares")]
[assembly: AssemblyCopyright("Copyright © Deltares 2021")]

// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
[assembly: AssemblyVersion("1.5.0.0")]
[assembly: AssemblyFileVersion("1.5.0.0")]
[assembly: AssemblyInformationalVersion("1.5.0.#BuildNumber#")]