using System.Reflection;

[assembly: AssemblyCompany("Deltares")]
[assembly: AssemblyCopyright("Copyright © Deltares 2021")]

// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
[assembly: AssemblyVersion("3.7.14.0")]
[assembly: AssemblyFileVersion("3.7.14.0")]
[assembly: AssemblyInformationalVersion("3.7.14.#BuildNumber#")]