<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.3.0" newVersion="3.13.3.0" />
      </dependentAssembly>
      <probing privatePath="DeltaShell;plugins;plugins\DeltaShell.Plugins.Data.NHibernate;plugins\DeltaShell.Plugins.SharpMapGis;plugins\DeltaShell.Plugins.DelftModels.WaterFlowModel;plugins\DeltaShell.Plugins.DelftModels.RealTimeControl;plugins\DeltaShell.Plugins.DelftModels.RainfallRunoff;plugins\DeltaShell.Plugins.Scripting" />
    
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
