<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define explicitX86desktopshortcut="false"?>
  <?define Description="SOBEK Suite"?>
  <?define StartPage="Welcome.htm"?>

  <?define checkForRegistration="true"?>
  <?define Delft3DPackageName="D-HYDRO"?>
  <?define registrationFeature="D-HYDRO"?>
  <?define registrationVersion="1.5"?>
  
  <?define pluginicon="$(var.ProjectDir)\Resources\SOBEK.ico"?>
  <?define licensefilepath="$(var.ProjectDir)\Resources\"?>
  <?define windowlayoutpath="$(var.ProjectDir)\Resources\"?>
  <?define setupbanner="$(var.ProjectDir)\Resources\setup_banner.jpg"?>
  <?define setupstartuppath="$(var.ProjectDir)\Resources\"?>

  <!-- Give these definitions to the plugin with include files -->
  <?define manualswxi="$(var.ProjectDir)\Manuals.wxi"?>
  <?define pluginswxi="$(var.ProjectDir)\Plugins.wxi"?>
  <?define plugin_manualshortcuts="$(var.ProjectDir)\ManualShortcuts.wxi"?>
  <?define plugin_features="$(var.ProjectDir)\Features.wxi"?>
  <?define additionalfiles="$(var.ProjectDir)\..\HydroLibraries\HydroLibraries.wxi"?>

  <!-- optional extra files to include in the bin folder in the main feature -->
  <?define customizationwxi="$(var.ProjectDir)\Extras.wxi"?>
  
  <?define supportEmail="sobek.support@deltares.nl"?>
  <?define supportPhone="+31 (0)88 335 8100"?>
  
  <!-- optional splash screen -->
  <?define mainWindowTitle="$(var.ProductName)"?>
  <?define splashScreenLogoImageFilePath="splash_screen.jpg"?>
  <?define splashScreenCopyright="© Deltares 2016"?>
  <?define splashScreenCompany="Rijkswaterstaat"?>
  <?define splashScreenLicense="NGHS project"?>
  
  <?define languages ="1033"?>
  
  <?define plugin_wixUIDeltares="Sobek_WixUI_Deltares"?>

  <!--<?define dimr_plugin_bin="$(var.deltashell_output_folder)plugins\DeltaShell.Dimr\"?>
  <?define dimr_kernels_lib_dir="$(var.dimr_plugin_bin)kernels\"?>
-->
  <!-- surpressed ICE57 in property window, which is related to per user and per machine installation, using e.g. HKMU instead of HKLM-->
  <?include ..\Framework\DeltaShell\Templates\PluginTemplate.wxi?>
  
</Wix>
