<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!--
  This describes default features that the DeltaShell plugin installer offers.
  
  This requires a couple of variables and locales that you are required to add.
  It also has some optional variables that may be set in order to enhance your installer.
  
  All these variables have to be defined as follows: <?define myvar="some value"?>. 
  Locales should be defined for your sub product in fm,fmo,rws wxl files or in the overall wxl file WixUIVariables.wxl
  
  Required variables:
  - pluginicon:             The path to the icon to use. Let it be a *.ico file.
  - licensepath:            The path to the license file that is used in the installer. Specify the actual license agreement in location file, via key:LicenseRtf
  - windowlayoutpath:       The path to the default window layout. Specify the actual windows layout file in each location file, via key=WindowLayoutFile
  - manualswxi:             Manuals can be added as files so that they are included in the correct folder in the target directory.
                            The manuals should be included as <File>-elements.
                            Example:
                            <Include>
                              <File Id="MyManual" Source="Resources\SOBEK_3.pdf"/>
                              ...
                              ...
                            </Include>
  - pluginswxi:             Include your plugins via this include file. They will be installed in the plugins folder next to the bin folder.
                            You plugins should always start with a <Directory>-element and then a <Component>-element.
                            Example:
                            <Include>
                              <Directory Id='MyPluginFolder' Name='MyPlugin'>
                                <Component Id='MyPlugin' Guid="SOME-LONG-GUID"> // use the Id tag later in your features as a <ComponentRef>
                                  <File Id="MyPlugin_dll" Source='$(var.deltashell_output_folder)plugins\MyPlugin\MyPlugin.dll' />
                                </Component>
                              </Directory>
                            </Include>
  - plugin_features:        Add your features specific to your plugins in this include file. Always try and find *_FeatureContent.wxi files
                            in other plugin folders. They will aid you to include the plugin and already reveals the ComponentRefs required.
                            <Include>
                              <Feature Id="FM" Title="D-Flow FM" Description ="Flow flexible mesh" Level="1" Absent="disallow" AllowAdvertise="no">
                                <?include ..\FM\FMPlugin_FeatureContent.wxi?>
                              </Feature>
                            </Include>
  - setupbanner:            The file path to the image that is used in all dialogs of the installer.
  - setupstartuppath:       The path to the image that is used in the first dialog that shows the splash screen. The name of the startup image must be specified in localization file.
      
                        
  Optional variables:
  - CheckOriginOfProject:			If you set this to true, projects from not supported products can not be opened.
  - StartNamesCompatibleProducts:	Start names of other compatible products. You don't have to mention current product, only start names of different products.
  - ShowStartUpScreen:               If you set this to false, the start up screen will not be shown. 
  - EnableDHydroDelft3DFMVersionNaming: Enable to use the d-hydro specific setup configuration. You must define the following locales: loc.ApplicationName
                                        and loc.PublicReleaseVersion. [NOT IMPLEMENTED!]
  - noDeltaShellFrameworkManual:    If you set this to true the DeltaShell Framework user manual will not(!) be included in the install, neither the shortcut.
  - customizationwxi:               If you want to add extra files to the bin folder where Deltashell.Gui.exe is located, add them here.
                                    It has the same layout as manualswxi.
  - plugin_wixUIDeltares:           You can include your own wixUIDeltares by overriding the default UI dialogs.
                                    This is not a file path, but a component name that can be found as a *.wxs file.
                                    See FM for an example.
  - StartPage:                      You may specify the start page that deltashell will use on startup.
                                    The start page may also be local like "Welcome.htm".
  - plugin_manualshortcuts:         The manual shortcuts will be added in the Manuals folder in the start menu next to the deltashell.exe shortcut.
                                    Example:
                                    <Include>
                                      <Shortcut Id="DFlowFMUserManualnewShortcut" Name="D-Flow FM User Manual" Target="[BINDIR]D-Flow_FM_User_Manual_new.pdf" WorkingDirectory="BINDIR" Directory="ManualsMenuDir"/>
                                      ...
                                      ...
                                    </Include>
  - plugin_utilityshortcuts:        The utility shortcuts will be added in the Utilities folder in the start menu.
                                    Example:
                                    <Include>
                                      <Shortcut Id="RgfGridShortcut" Name="RgfGrid" Target="#RgfGrid.exe"/>
                                      ...
                                      ...
                                    </Include>
  - programassociations             Enables the user to include code to associate a program to a file.
  - additionalfiles                 Enables the user to include additional files to be installed.
  - languages                       Enables the user the languages which need to be supported. e.g. var.languages="1033,1043". Means English and Dutch. Note to add corresponding culturenames in settings window. 
  - splashScreenCopyright:          © Deltares 2024
  
  Required locales (in the overall locale file WixUIVariables.wxl):
  - PublicReleaseVersion:   Set this variable as a locale variable string via overall WixUIVariables.wxl.
                            This is a 2 number product version. Example: 2024.01
  - ReleaseVersion:         Set this variable as a locale variable string via overall WixUIVariables.wxl.
                            This is a 3 number product version. Example: 2024.1.0 (or preferably !(loc.PublicReleaseVersion).0) 
  - ProductName:            Set this variable as a locale variable string via overall WixUIVariables.wxl.
                            E.g. "FM (Early Preview) !(loc.ReleaseVersion)" or "!(loc.ApplicationName) !(loc.PublicReleaseVersion) !(loc.DistributionName)"
  - FullProductName:        The full product name defines the name used in the installer as well as the installation location. 
                            Set this variable as a locale variable string via overall WixUIVariables.wxl
  - SupportPhone:           The custom support phone number if it differs from the original.
                            
  Optional locales (in fm.wxl, fmo.wxl, rws.wxl):
  - SupportEmail:                   The support mail can be set if you want a specific support e-mail address that users can send their complaints to.
  - SplashScreenLogoImageFilePath:  A file path to a logo that is used by deltashell on startup. The file path is relative to the deltashell.exe file.
                                    Remember to actually add the file in the installer via $(var.customizationwxi).
  - ApplicationName                 Delft3D FM Suite
  - DistributionName:               1D2D
  - HelpLink:                       https://www.deltares.nl/en/software-solutions/delft3d-4-delft3d-fm
  - Delft3DPackageName:             Delft3D FM HMWQ
  - RegistrationFeature:            Delft3D_FM_1D2D
  - RegistrationVersion:            2024
  - SplashScreenCompany:            Deltares
  - SplashScreenLicense:            Valid until 30 oct 2024
  - LicenseRtf:                     Delft3D FM HMWQ_Resources\License.rtf
  - ManualFileName:                 Delta_Shell_User_Manual.pdf

  Required Properties                            
  - FullProductNameVersion: The human readable product version. Should be defined as a property in DeltaShell_Customizations.wxi.
  
  Note: In order to let your product use the files referred in your own project, use $(var.ProjectDir) to refer correctly.
        The build server doesn't always add a trailing backslash.
        Example: $(var.ProjectDir)\Resources\License.rtf
        
        But when you add a reference in your own include file, the reference is caught from that point on.
        Example: In your own plugins project, the Manuals.wxi may refer via "Resources\MyManual.pdf".
-->
  <?define checkForRegistration="true"?>

  <?define StartPage="Welcome.htm"?>
  <?define pluginicon="$(var.ProjectDir)Resources\FM.ico"?>
  <?define windowlayoutpath="$(var.ProjectDir)Resources\"?>

  <!-- Give these definitions to the plugin with include files -->
  <?define manualswxi="$(var.ProjectDir)Manuals.wxi"?>
  <?define pluginswxi="$(var.ProjectDir)Plugins.wxi"?>
  <?define plugin_manualshortcuts="$(var.ProjectDir)ManualShortcuts.wxi"?>
  <?define plugin_features="$(var.ProjectDir)Features.wxi"?>
  <?define plugin_utilityshortcuts="$(var.ProjectDir)UtilityShortcuts.wxi"?>
  
  <!-- optional extra files to include in the bin folder in the main feature -->
  <?define customizationwxi="$(var.ProjectDir)Extras.wxi"?>

  <!-- optional splash screen copyright -->
  <?define splashScreenCopyright="© Deltares 2024"?>
 
  <?define RealNumberFormat="G12"?>
  <!--<?define CheckOriginOfProject="False"?>-->
  <!--<?define StartNamesCompatibleProducts="D-HYDRO,Delft3D"?>-->
  <!--<?define noDeltaShellFrameworkManual="true"?>-->
  <!--<?define EnableDHydroDelft3DFMVersionNaming="true"?> NOT IMPLEMENTED-->
  <!--<?define ShowStartUpScreen="False"?>-->

  <?define plugin_wixUIDeltares="FM_WixUI_Deltares"?>
  
  <?define UpgradeCode = "{FFFAAFAF-DD17-4428-9192-588A47220D73}" ?>
  
  <Product
    Id="$(var.MyProductCode)"
    UpgradeCode="$(var.UpgradeCode)"
    Name="!(loc.ProductName)"
    Language="1033"
    Codepage="1252"
    Version="!(bind.property.ReleaseVersion)"
    Manufacturer="Deltares">

    <Package Id="*" Keywords="Installer" Description="!(loc.ProductName) Installer"
             Comments="!(loc.ProductName) is a program developed by Deltares." Manufacturer="Deltares"
             InstallerVersion="300" Languages="1033" Compressed="yes" SummaryCodepage="1252"
             InstallPrivileges="elevated" AdminImage="yes" InstallScope="perMachine"/>
    <PropertyRef Id="SetInstallerProperties"/>

    <FeatureRef Id="Complete">
      <?ifdef plugin_features?>
      <?include $(var.plugin_features)?>
      <?endif?>
      <?include DeltaShell_FeatureContent.wxi?>
    </FeatureRef>
  </Product>

  <?include DeltaShell_Customizations.wxi?>

  <Fragment Id="SetDirectoryStructure">
    <!--define a directory structure for main application and plugins -->
    <!-- use include files to tell the installer which files should be copied to target directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="DeltaresDir" Name="Deltares">
          <?if $(var.Configuration) != "Release"?>
            <?ifdef env.BUILD_NUMBER?>
              <Directory Id="INSTALLDIR" Name="!(loc.FullProductName) ($(env.BUILD_NUMBER))"/>
            <?else?>
              <Directory Id="INSTALLDIR" Name="!(loc.FullProductName)"/>
            <?endif?>
          <?else?>
          <Directory Id="INSTALLDIR" Name="!(loc.FullProductName)"/>
          <?endif?>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="BINDIR" Name="bin">
        <Component Id="DeltaShellGuiExeConfig" Guid="$(var.DeltaShellGuiExeConfigGUID)">
          <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedDeltaShellGuiExeConfig" Type="integer" Value="1" />
          <CreateFolder/>
          <RemoveFolder Id="RemoveDeltaShellBinDir_Component" Directory="INSTALLDIR" On="uninstall"/>
          <?define GUICONFIGFILE = "DeltaShell.Gui.exe.config"?>
          <?define CONSOLECONFIGFILE = "DeltaShell.Console.exe.config"?>
          <?include GuiConfigXml.wxi?>
          <?include ConsoleConfigXml.wxi?>
        </Component>
        <Directory Id="HarvestedDeltaShellFilesDir"/>
      </Directory>
      <Directory Id="Plugins" Name="plugins">
        <Directory Id="HarvestedPluginsFilesDir"/>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="UninstallShortcutComponent" Guid="$(var.UninstallShortcutComponentGUID)">
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="InstalledUninstallerShortcut" Type="integer" Value="1" />
        <?if $(var.Configuration) != "Release"?>
          <?ifdef env.BUILD_NUMBER?>
          <Shortcut Id="UninstallProduct"
                    Name="Uninstall !(loc.FullProductName) ($(env.BUILD_NUMBER))"
                    Target="[System64Folder]msiexec.exe"
                    Arguments="/x [ProductCode]"
                    Directory="ProgramGroupMenuDir"
                    Description="Uninstalls !(loc.FullProductName) ($(env.BUILD_NUMBER))"/>
          <?else?>
          <Shortcut Id="UninstallProduct"
                    Name="Uninstall !(loc.FullProductName)"
                    Target="[System64Folder]msiexec.exe"
                    Arguments="/x [ProductCode]"
                    Directory="ProgramGroupMenuDir"
                    Description="Uninstalls !(loc.FullProductName)"/>
          <?endif?>
        <?else?>
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall !(loc.FullProductName)"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Directory="ProgramGroupMenuDir"
                  Description="Uninstalls !(loc.FullProductName)"/>
        <?endif?>
      </Component>
      <!-- Add shortcuts in the start menu here -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramGroupMenuDir" Name="Deltares !(loc.ProductName)">
          <Component Id="ProgramGroupMenuDir_Component" Guid="$(var.ProgramGroupMenuDir_ComponentGUID)">
            <RegistryValue Root="HKLM"  Key="Software\[Manufacturer]\[ProductName]\[ProductCode]" Name="installedDeltaresShortcutFolder" Type="integer" Value="1" />
            <RemoveFolder Id="RemoveProgramGroupMenuDir_Component" Directory="ProgramGroupMenuDir" On="uninstall" />
          </Component>
        </Directory>
      </Directory>

      <!-- add shortcuts on the desktop here -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </DirectoryRef>
  </Fragment>
  
  <Fragment Id="ConfigureOurFeature">
    <Feature Id="Complete" Title="!(loc.ProductName)" Description="!(loc.CompletePackageDescription)"
             Display="expand" Level="1" Absent="disallow" AllowAdvertise="yes" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="DeltaShellGuiExeConfig"/>
      <Feature Id="DeltaShell" Title="!(loc.DeltaShellFeatureName)" Description ="!(loc.DeltaShellFeatureDescription)" Level="1" Absent="disallow" AllowAdvertise="no">
        <ComponentGroupRef Id="HarvestedDeltaShellFilesComponent" Primary="yes" />
      </Feature>
      <Feature Id="Plugin" Title="!(loc.PluginFeatureName)" Description ="!(loc.PluginFeatureDescription)" Level="1" Absent="disallow" AllowAdvertise="no">
        <ComponentGroupRef Id="HarvestedPluginsFilesComponent" Primary="yes" />
      </Feature>
      <ComponentRef Id="UninstallShortcutComponent" />
      <ComponentRef Id="ProgramGroupMenuDir_Component"/>
    </Feature>

    <PropertyRef Id="SetDeltaShellUI"/>
    <UIRef Id="WixUI_ErrorProgressText" />
    <InstallExecuteSequence>
      <AppSearch Sequence="1"></AppSearch>
      <LaunchConditions After="AppSearch" />
      <!--RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts-->
      <RemoveExistingProducts Before="InstallInitialize"/>

    </InstallExecuteSequence>

    <SetProperty Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch [FullProductName]" After="CostInitialize"/>
    <Property Id="WixShellExecTarget" Value="[#DeltaShell.Gui.exe]"  />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />
  </Fragment>
</Wix>