<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?define explicitX86desktopshortcut="false"?>

  <?define Description="D-FM Delta Shell" ?>
  
  <?define checkForRegistration="true"?>

  <?define EnableDHydroDelft3DFMVersionNaming="true"?>
  
  <?ifdef var.RWS?>
    <?define Delft3DPackageName="D-HYDRO"?>
    <?define registrationFeature="D-HYDRO"?>
    <?define registrationVersion="1.5"?>
    <?define splashScreenCopyright="© Deltares"?>
  <?else?>
    <?define splashScreenCopyright="© Deltares"?>    
    <?ifdef var.NOWAQ?>
      <?define Delft3DPackageName="Delft3D FM HM"?>
      <?define registrationFeature="Delft3D_FM_Hyd-Mor"?>
      <?define registrationVersion="1.5"?>
    <?else?>
      <?define Delft3DPackageName="Delft3D FM HMWQ"?>
      <?define registrationFeature="Delft3D_FM_Hyd-Mor_And_Waq"?>
      <?define registrationVersion="1.5"?>
    <?endif?>
  <?endif?>
  
  <?define StartPage="Welcome.htm"?>
  <?define pluginicon="$(var.ProjectDir)\Resources\FM.ico"?>
  <?define licensefilepath="$(var.ProjectDir)\$(var.Delft3DPackageName)_Resources\"?>
  <?define windowlayoutpath="$(var.ProjectDir)\Resources\"?>
  <?define setupbanner="$(var.ProjectDir)\$(var.Delft3DPackageName)_Resources\setup_banner.jpg"?>
  <?define setupstartuppath="$(var.ProjectDir)\$(var.Delft3DPackageName)_Resources\"?>

  <!-- Give these definitions to the plugin with include files -->
  <?define manualswxi="$(var.ProjectDir)\Manuals.wxi"?>
  <?define pluginswxi="$(var.ProjectDir)\Plugins.wxi"?>
  <?define plugin_manualshortcuts="$(var.ProjectDir)\ManualShortcuts.wxi"?>
  <?define plugin_features="$(var.ProjectDir)\Features.wxi"?>
  <?define plugin_utilityshortcuts="$(var.ProjectDir)\UtilityShortcuts.wxi"?>
  <?define additionalfiles="$(var.ProjectDir)\..\HydroLibraries\HydroLibraries.wxi"?>

  <!-- optional extra files to include in the bin folder in the main feature -->
  <?define customizationwxi="$(var.ProjectDir)\Extras.wxi"?>

  <?define supportEmail="delft3d.support@deltares.nl"?>

  <!-- optional splash screen -->
  <?define mainWindowTitle="$(var.ProductName)"?>
  <?define splashScreenLogoImageFilePath="splash_screen.jpg"?>
  
  <?define splashScreenCompany="Rijkswaterstaat"?>
  <?define splashScreenLicense="NGHS project"?>

  <?ifdef var.RWS?>
  <?define splashScreenCompany="Rijkswaterstaat"?>
  <?else?>
  <?define splashScreenCompany="Deltares"?>
  <?endif?>
  
  <?ifdef var.RWS?>
  <?define splashScreenLicense="NGHS project"?>
  <?else?>
  <?define splashScreenLicense="Valid until 3 nov 2015"?>
  <?endif?>

  <?define plugin_wixUIDeltares="FM_WixUI_Deltares"?>
  <?define languages ="1033"?>
  
  <!-- surpressed ICE57 in property window, which is related to per user and per machine installation, using e.g. HKMU instead of HKLM-->
  <?include ..\Framework\DeltaShell\Templates\PluginTemplate.wxi?>
</Wix>