<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include WaqDefines.wxi?>
    <Fragment>
        <DirectoryRef Id="DidoLibDir">
            <Component Id="cmpD98EE44E424192295FB7B213C3C0269F" Guid="*">
                <File Id="fil04B742470BE7AAD079CF121A5BBFF4E4" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\dido.cmd" />
            </Component>
            <Directory Id="dir38B1EA73263D4B7993461DC5214090B5" Name="bin">
                <Component Id="cmp481E31C5B96EE818C440FEAD492BCB90" Guid="*">
                    <File Id="filCC9F672F67CA5E346625194945D87DD5" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\dido.dll" />
                </Component>
                <Component Id="cmp67C28EB5D0951E9B1B8D277AD6CF6A0E" Guid="*">
                    <File Id="fil4A817B3D1AB93FC8327800610CAA2E6B" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\freeglut.dll" />
                </Component>
                <Component Id="cmp07E8FCA31F8CD31BD26044EA6334607C" Guid="*">
                    <File Id="fil5D1BEEA7E7F5B14D3A525B4ACA3D755D" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\glut32.dll" />
                </Component>
                <Component Id="cmp4583B846B46F5F8637C6BEFDF98F16C6" Guid="*">
                    <File Id="fil3F08A397375878AC651FE7E15B07FBFB" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\glut64.dll" />
                </Component>
                <Component Id="cmpAB8C8EED544C3700E363D52AC2C7AE12" Guid="*">
                    <File Id="fil6623A79663B5EC89BF4BCE419FE30FA5" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\libifcoremd.dll" />
                </Component>
                <Component Id="cmpCF31801EF0BDCE82C84400731DBC680A" Guid="*">
                    <File Id="filC0B5FA02A12B432AF9109833354F59BD" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\libifportmd.dll" />
                </Component>
                <Component Id="cmp0887F0EFC338949DE61BC46BCE6ED1D6" Guid="*">
                    <File Id="filF71DA56D594C826811FBD3C86485FCAF" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\libmmd.dll" />
                </Component>
                <Component Id="cmp7186529587B69F2E90FB7FFF7568A249" Guid="*">
                    <File Id="filA27A5EF6CDC4457AC6E3EA2DFD62DA61" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\mfe_app.exe" />
                </Component>
                <Component Id="cmp188B8DE1A44BA845393B4141343DD19F" Guid="*">
                    <File Id="fil178A60861475F19011FB3BBA6AD2D031" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\msvcp140.dll" />
                </Component>
                <Component Id="cmp81E160A36A5BDE62854A6924FF0F400D" Guid="*">
                    <File Id="filAD1A1099B406AC52316BADC2E306F64E" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\netcdf.dll" />
                </Component>
                <Component Id="cmpFD0C4A0437175455F9AF1E2CB962E5B4" Guid="*">
                    <File Id="filC7BBCA3FEF259387BC59B158CA4EB547" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\pthreadVC2.dll" />
                </Component>
                <Component Id="cmp753FD2F3790151C252CCBE64C5302F60" Guid="*">
                    <File Id="fil0F90D0802CD9FDDB28E8CD29F1945970" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_canvas_window.dll" />
                </Component>
                <Component Id="cmp62211F857CA8AD9DE5CA0AFD90837F9A" Guid="*">
                    <File Id="filC54470C922D5A23DFD6317963794A951" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_commands_dialog.dll" />
                </Component>
                <Component Id="cmp727141DF5375637F06BDDFDFE96E3D4C" Guid="*">
                    <File Id="fil5FE56B84F3FF981B6789F0AFC206F282" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_common_dialogs.dll" />
                </Component>
                <Component Id="cmpBA4A2C8A5A3792DE6D0DA7A6D859F4E9" Guid="*">
                    <File Id="fil763553B34D4FD6FCA8F83AF02C769CB2" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_common_utils.dll" />
                </Component>
                <Component Id="cmp4F29271B75281CC43F49FBD120171143" Guid="*">
                    <File Id="fil997D8834770C2C6F4479C2E53E15A0D2" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_cpp_java.dll" />
                </Component>
                <Component Id="cmpA7AB02EEA92B171B206E07F9F6FE1845" Guid="*">
                    <File Id="fil34D42B7ED29094817A3DF1E0EC4B1810" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_glut_window.dll" />
                </Component>
                <Component Id="cmpEBAFECDF12EA27275C13E8E843FBCD4F" Guid="*">
                    <File Id="filE1F2A4B8548F9BA2B7DAD40F7C46749C" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_gui_api.dll" />
                </Component>
                <Component Id="cmpC2F910C573ED7DE4B7E17B05D236B4FF" Guid="*">
                    <File Id="fil960A85CCC2C6A206DB889085D378F150" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_ml_support.dll" />
                </Component>
                <Component Id="cmp2BE6F2A0FBB9A3F48C1481BA7BA9447F" Guid="*">
                    <File Id="filF00B5092ABE3B3E842C93DA4DB97804B" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_plugin_shared_mem_def.dll" />
                </Component>
                <Component Id="cmp7B09EEC8423B409C8A177F15CF7DB9C3" Guid="*">
                    <File Id="fil1D37164B9D20C21B809CAB17DC532CE1" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_property_editor.dll" />
                </Component>
                <Component Id="cmp0D9DE4D7927D645290F2F3122CBD86D9" Guid="*">
                    <File Id="fil94F69B4105A1F1CE7864D863F88FD00B" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\qt510_win32_process.dll" />
                </Component>
                <Component Id="cmp811383BFAE366A51C74232681177BCA0" Guid="*">
                    <File Id="filCF2AFD375AA594E0BF3B2FCF501DBC31" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\Qt5Core.dll" />
                </Component>
                <Component Id="cmp7DC1E02980617B6D34120757DB5BB806" Guid="*">
                    <File Id="filA7C410729A03A9F73F7C087B4A9A04BE" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\Qt5Gui.dll" />
                </Component>
                <Component Id="cmp1386185D85929DFC4DD91FFC5B62BDEE" Guid="*">
                    <File Id="fil0DCB82E8B73699A4C91EE7A1B1A352B3" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\Qt5PrintSupport.dll" />
                </Component>
                <Component Id="cmp695B3E0BEB53B9F12C5145192833A52A" Guid="*">
                    <File Id="fil1EF9C29167255255E51F6C1468036DDE" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\Qt5Widgets.dll" />
                </Component>
                <Component Id="cmp7A4EC9D01F5A049CA53FF5DA375955E2" Guid="*">
                    <File Id="fil4A229AFC887F893ABE6F81F0F2D04D61" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\svml_dispmd.dll" />
                </Component>
                <Component Id="cmp8DA8DF68C3390D65FC237969E5CEE179" Guid="*">
                    <File Id="fil185DBAB8EA0903AEB1FFAE81FAB63ABD" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\vcruntime140.dll" />
                </Component>
                <Directory Id="dirD7D0106521FC9762346E6B6FE860E2F8" Name="platforms">
                    <Component Id="cmp3D326A9C3A54EA1DFDE2705E4775E9DE" Guid="*">
                        <File Id="fil41C639E552535F7828CD2B2DD4C4907A" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\platforms\qminimal.dll" />
                    </Component>
                    <Component Id="cmp3BF2A69BFBA4B98FA74BB2CEA0043981" Guid="*">
                        <File Id="fil75AFFF5E340CC8D190C876C1BA48D8C8" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\platforms\qoffscreen.dll" />
                    </Component>
                    <Component Id="cmp546BDABD340BE10B20A8851443FF06CB" Guid="*">
                        <File Id="fil23EB4466570AD7C4FB5CBB3F1FF7B6AF" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\bin\platforms\qwindows.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirF5259A446EE67950F8D212ED72C493BD" Name="colormaps">
                <Component Id="cmpF0E155A3B03D1ADFCBCC7235D32FF7C8" Guid="*">
                    <File Id="fil7030FF81A0CACD8F97E04E7CE29C2E0A" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\autumn.clrmap" />
                </Component>
                <Component Id="cmp4AE704996175E97953E3B472A7BF421B" Guid="*">
                    <File Id="fil3D1D5C5B6463A9901560B85A6AAE14E0" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\bathy.clrmap" />
                </Component>
                <Component Id="cmp073BA7F3DD2B08761379513761EB872C" Guid="*">
                    <File Id="fil6C522D4D24D45699917A29FA906DE6CF" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\bluemap.clrmap" />
                </Component>
                <Component Id="cmp04428E7277718AA8E19165724143FF64" Guid="*">
                    <File Id="fil30FEDE46FAAA86D98053C02FE2185478" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\bone.clrmap" />
                </Component>
                <Component Id="cmp4FFB0E1A8DCB74CA56C2060FB1C448D9" Guid="*">
                    <File Id="filBC6C91AD59533D4674724FEB970146A1" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\cool.clrmap" />
                </Component>
                <Component Id="cmpA26809F2045BAA6F514FFFCC39D3F13C" Guid="*">
                    <File Id="fil4B79D6BB9EA5DF17DF580A7212DC5EB8" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\copper.clrmap" />
                </Component>
                <Component Id="cmp8787E2EC891362D1A2B265FBC14FB08D" Guid="*">
                    <File Id="fil1BB76101EB57792D4B3DAE77A8DA5870" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\depth.clrmap" />
                </Component>
                <Component Id="cmp5023B9A60F91793DA4D5B9E00BB98163" Guid="*">
                    <File Id="fil5B418E7C0074A3ACC548093E93C9B632" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\earth1.clrmap" />
                </Component>
                <Component Id="cmp18D40AA72F3CA941001ABA101446E78C" Guid="*">
                    <File Id="fil1479318E7AD7293CBF72C0EC872C30BC" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\earth2.clrmap" />
                </Component>
                <Component Id="cmp71DEE7A8AA30CE37064B918229DB3FC6" Guid="*">
                    <File Id="fil887A76A78F1B0AF6BD19911EEEF5DE6F" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\earthsurface.clrmap" />
                </Component>
                <Component Id="cmpCCC798C90A3DE233D7832B8C4DCEE8C3" Guid="*">
                    <File Id="fil28ECF4038AA377E44250A2E3885E9C7B" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\gray.clrmap" />
                </Component>
                <Component Id="cmpD38923D4845818301EA3A4C7C5DC7E0A" Guid="*">
                    <File Id="fil33BFFD86FC7248FF4CF7D241FCC7EB40" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\hot.clrmap" />
                </Component>
                <Component Id="cmpC3FA82492881FDFD09A37757F50FA4AA" Guid="*">
                    <File Id="fil3949D598F5C75DBBA9C29C74C947BF9A" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\hsv.clrmap" />
                </Component>
                <Component Id="cmp4FA70261BAFF5F2BAAD0558892611D67" Guid="*">
                    <File Id="filD3634B0C8FFBDE87AC68416681E0B9D5" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\jet.clrmap" />
                </Component>
                <Component Id="cmp5740D6572AED06DA553BD43158B14D24" Guid="*">
                    <File Id="fil39F600FD8D23B29C21E076C5163478D5" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\jet_white_5.clrmap" />
                </Component>
                <Component Id="cmp1CDF5DA484ACE845B5579846556BD2CD" Guid="*">
                    <File Id="filDB51F27D4A03723896D9D2F715B61675" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\pastel.clrmap" />
                </Component>
                <Component Id="cmp52AB597E4EFD2D9D87008078B94B72D6" Guid="*">
                    <File Id="fil34BCC9DC9EF00B53D6C23CB3570F9F49" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\pink.clrmap" />
                </Component>
                <Component Id="cmpA4771C4BAB2F4D46DF6C55807D2CDF50" Guid="*">
                    <File Id="fil615D33B8A34699B213B8853532498C72" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\qncmap.clrmap" />
                </Component>
                <Component Id="cmpA0567226EBC2DA814B20976FB6D593AE" Guid="*">
                    <File Id="fil7146F905DB44795EFA5A728B67D2186F" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\revbluemap.clrmap" />
                </Component>
                <Component Id="cmp9E3D70922B051905F9F627B2D641E4FC" Guid="*">
                    <File Id="fil44C50854793C2E7451CF44EFC314BC15" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\sedconc.clrmap" />
                </Component>
                <Component Id="cmp1FB250745108273FE11C4251653FD64D" Guid="*">
                    <File Id="fil276F1764FDCD3EB196D8EC614641AAE0" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\spring.clrmap" />
                </Component>
                <Component Id="cmpFD4EC1E7DC11646C2D74A96EBD745693" Guid="*">
                    <File Id="fil2A6FDE178A38E44B55342604DC14A8E5" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\summer.clrmap" />
                </Component>
                <Component Id="cmp87DDAFE3C3D819D27F1D6CFBFB007EF5" Guid="*">
                    <File Id="fil2379E7C1DA37943493CD3D4808DB588E" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\winter.clrmap" />
                </Component>
                <Component Id="cmpBFDD4B09BD1D93D864C7474F9A15483E" Guid="*">
                    <File Id="fil265D3E9BF1DF68325AEE84D748CAB4E4" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\colormaps\xhsv.clrmap" />
                </Component>
            </Directory>
            <Directory Id="dir822598A26127D7C631BF01C9E4290684" Name="default">
                <Component Id="cmpF56DDAED410F19A65B53DBC09670E840" Guid="*">
                    <File Id="fil7F8A3AEAF4DFB1E9BA8D35163EAEBA29" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\default\_._" />
                </Component>
            </Directory>
            <Directory Id="dirC87C4E9298A0D1A6374D6EA732CE5E24" Name="icons">
                <Component Id="cmp411398FD834A10986CB391AA63852A25" Guid="*">
                    <File Id="fil9B57388193F397DC473CA4E5EBB4F219" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\anchor.png" />
                </Component>
                <Component Id="cmp32024045F763EF4C4E64D6C47293D3C9" Guid="*">
                    <File Id="filB65990A14ED710D636B4B8E8BB8D6ED2" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\arrow_curved_black.png" />
                </Component>
                <Component Id="cmp787F2483FAEF85D874876C7A6934DC94" Guid="*">
                    <File Id="filABD4B8DD863DED702FDDA7D4E86AA220" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\centre.png" />
                </Component>
                <Component Id="cmp488544C494DDB51E312D457CAF2E7D2B" Guid="*">
                    <File Id="fil70521D3FF8E04D1AF609E659D97299C0" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\delete_exterior.png" />
                </Component>
                <Component Id="cmp48C99F5F640CAA0B9CD185D670653DCF" Guid="*">
                    <File Id="fil216C629F2A6D61078477212821A9D7D9" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\delete_interior.png" />
                </Component>
                <Component Id="cmpB28BE3ED0F2EB01F8783637C0E5E487F" Guid="*">
                    <File Id="fil6F384DE56D584B6EB92BE1E59642B513" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\deltares.ico" />
                </Component>
                <Component Id="cmpF77D0E0846232A7189C7C9975DAF42D0" Guid="*">
                    <File Id="fil146927CEF04B366C3575C7F61B103366" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\dido_icon.ico" />
                </Component>
                <Component Id="cmpB5061AA65BB4FAE4D0DD8E6D96BB9EEE" Guid="*">
                    <File Id="filDE356E6130164970B1D20540420A3440" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\dido_icon.png" />
                </Component>
                <Component Id="cmp2D922A4E45D62EDB9AE77B14C7A8D9BF" Guid="*">
                    <File Id="filB40211A0D1AC1571DCF6564872F0692C" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\edit_depth.png" />
                </Component>
                <Component Id="cmpE6B6B7D0D3298EEFA3CA9D644CFFCB05" Guid="*">
                    <File Id="fil040731FBC1C05AD103D3A4C4F1862E86" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\file_new.png" />
                </Component>
                <Component Id="cmp9EEF04AB307434583683FA89E807DC9B" Guid="*">
                    <File Id="fil84C8C45F5EEC90F00FA93B16D103E8AC" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\file_open.png" />
                </Component>
                <Component Id="cmp768F0F9EBACEE8C54B680F786B3D3035" Guid="*">
                    <File Id="fil049A621DD626942990A59F3FF373418D" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\file_save.png" />
                </Component>
                <Component Id="cmp4BFE7B0FD2D52F571D300D89E1FA09C8" Guid="*">
                    <File Id="filB172C77624C517235D0CE02D4E35AF1E" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\full_extend.xpm" />
                </Component>
                <Component Id="cmpDCA52F34FCBB75790B3C2F8614A3B0FA" Guid="*">
                    <File Id="fil2CBC8752906E7F10C196FE0E4126B8D9" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\grid_delete_point.png" />
                </Component>
                <Component Id="cmpC3479E49EBD25277D9D157644A5F859B" Guid="*">
                    <File Id="fil6A4D00976ABBE1310EDF1AFE7AC57713" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\grid_insert_point.png" />
                </Component>
                <Component Id="cmp0C962D776724FD74C0738835EE121E3C" Guid="*">
                    <File Id="fil72FEB5349D196E81989164C274FEAF3C" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\grid_move_point.png" />
                </Component>
                <Component Id="cmp22BC909FE7F47B591484DDAD3DCC75E0" Guid="*">
                    <File Id="fil9638B1916EF99BE210170593B7D8DCD2" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\legend.png" />
                </Component>
                <Component Id="cmpAE65330835C5AAB281584D4FFE4B05EA" Guid="*">
                    <File Id="fil1FE1AD86555BA9E01C864380BD91C6A2" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\loadshapefile.png" />
                </Component>
                <Component Id="cmp029F2DD3BFAFEC42151D930BF3112D29" Guid="*">
                    <File Id="fil3EDDDC5AD647D6127F4A36E9CCB19D44" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\media_forward.png" />
                </Component>
                <Component Id="cmpA2A43EABC96DA02F9CD7D6B9E7E529DF" Guid="*">
                    <File Id="fil874E4B5BB2BBA8D2C90771C01EEBEC37" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\media_forward_next.png" />
                </Component>
                <Component Id="cmp7FCA8ABD5E0F6C1D3DDD55CBD1F20567" Guid="*">
                    <File Id="fil5CB85659D3B667BCA999BEC3E3A82E18" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\media_next.png" />
                </Component>
                <Component Id="cmpCAF38ECEDBC6388A5B450D619B097249" Guid="*">
                    <File Id="filB3FDF54664BE4FD91D5D034BED43F42B" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\media_pause.png" />
                </Component>
                <Component Id="cmp4CC4526D485CC95B8896850158F67EB8" Guid="*">
                    <File Id="fil85E07BC89A0FF65696CA8BD25C00A7F3" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\menu_to_toolbar.xpm" />
                </Component>
                <Component Id="cmp398DB0D0BDBDEE9B0FA7D08539F94393" Guid="*">
                    <File Id="filFEBE2D31577FDBE488E21EA4DA5EB07C" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\multiselect_domain.png" />
                </Component>
                <Component Id="cmpFEF5CD7F9BC05B798CC0CE780BC58773" Guid="*">
                    <File Id="filD6D0D628AC7687CA252F5FEFEC027A84" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\orthogonalise.png" />
                </Component>
                <Component Id="cmpCE5B6331638951710EB31B48DC67C780" Guid="*">
                    <File Id="filB7A17F05DF29F0A3A53F09C317868E95" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\polygon_delete.png" />
                </Component>
                <Component Id="cmp3D084AADCE8B9A8CA3690EB2DE59A62C" Guid="*">
                    <File Id="filD8C60760227975458A6CCEB3F9FFB8FF" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\polygon_delete_point.png" />
                </Component>
                <Component Id="cmpFC436AB8B2D36527356ED936090A952D" Guid="*">
                    <File Id="filF45AB6B407A7D3E29250DB605B6FCBF4" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\polygon_insert_point.png" />
                </Component>
                <Component Id="cmp23E575600B68D1D84BE6F1C6C3233487" Guid="*">
                    <File Id="fil03EC4378A50CE3D0B98F19A12AE22860" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\polygon_move_point.png" />
                </Component>
                <Component Id="cmp55B0D28E98DB73DAD4D1FECC4C4B7F32" Guid="*">
                    <File Id="fil4B3C70B7FD5ADAF6FF62427DBA79A4B7" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\polygon_new.png" />
                </Component>
                <Component Id="cmpC953E46CB6E29489882C1FFD30EB3FD2" Guid="*">
                    <File Id="fil85055FF489A2E05D386712BD6AFEB469" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\print_small.xpm" />
                </Component>
                <Component Id="cmpED153B21E38CEE5669A7BA23D5EB1ADE" Guid="*">
                    <File Id="filA42AFB2501CC6FC924F1638752C11FB0" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\properties.png" />
                </Component>
                <Component Id="cmp2CD377B28D74A6AD9C141603E1F96BC6" Guid="*">
                    <File Id="fil2069975EA0AF322F474CB6D8EFF8CB05" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\refresh.png" />
                </Component>
                <Component Id="cmpB6890DF54480F7CD825477318D4D37E0" Guid="*">
                    <File Id="fil8E87DFCA7DB8853B910D883FE7255B81" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\repeat.png" />
                </Component>
                <Component Id="cmpDA093C8DF40EFF2A5D161F038303E6EB" Guid="*">
                    <File Id="fil059EEB0778EA2CB1B759D10AEA3E448E" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\select_domain.png" />
                </Component>
                <Component Id="cmpB1D9303FF22831ABFDCDB5B538C27B01" Guid="*">
                    <File Id="filAC71C2ACB311E5B27B4FAC82F6114DF6" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\splines_to_grid.png" />
                </Component>
                <Component Id="cmpEFD48359C47965A17C0878F551958078" Guid="*">
                    <File Id="fil5BE02B6C460249E8587CDE6ADF9135FA" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\spline_delete.png" />
                </Component>
                <Component Id="cmp8A88CD239DEECBEE1B6D581B88DC1413" Guid="*">
                    <File Id="fil8B2D063DB46DA5440635F59781C875CB" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\spline_delete_point.png" />
                </Component>
                <Component Id="cmp05EA0ED19C7FF9C4068E463F71D8EE5F" Guid="*">
                    <File Id="fil7216189E48B9E8DAA418063C179D6AD6" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\spline_insert_point.png" />
                </Component>
                <Component Id="cmp62D055B66A6B40E04D37E77DAD89B442" Guid="*">
                    <File Id="fil4D158CCED6E478FDE85C9D20CF459548" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\spline_move_point.png" />
                </Component>
                <Component Id="cmp28FB02110DF14768E74AAB79298CE705" Guid="*">
                    <File Id="filAF0A559F79089D79725227DD18976472" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\spline_new.png" />
                </Component>
                <Component Id="cmpD44C8103E9D3842F95E5C8996E9897F9" Guid="*">
                    <File Id="filF94E600F7E30ECEEF9D1CBA8B94380FD" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\vectors.png" />
                </Component>
                <Component Id="cmp34E7A311C3BD4935B0CF14DD65B2FDCF" Guid="*">
                    <File Id="filDD91DC7B3CDC32CEC8E588016A9C7707" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\zoom_in.xpm" />
                </Component>
                <Component Id="cmp4B2914E5EE2AC9237CB756CA747EA3FF" Guid="*">
                    <File Id="filB3F1165E6C0CFCDD8BEF75C79DE53908" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\zoom_out.xpm" />
                </Component>
                <Component Id="cmp5DC9CE58BC0F8602DC40F447BA27C204" Guid="*">
                    <File Id="fil64A66275364EA9FCE5F87E65C0EF5878" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\icons\zoom_to_region.xpm" />
                </Component>
            </Directory>
            <Directory Id="dirBA3F7776462803635FA65E56BC7DA439" Name="target">
                <Component Id="cmpA9B58AB05C777ADEF1E45EE3DC739F76" Guid="*">
                    <File Id="fil35F7F892BBEAC10C746285DCFE7F2916" KeyPath="yes" Source="$(var.dido_kernels_lib_dir)\target\_._" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DidoLibs">
            <ComponentRef Id="cmpD98EE44E424192295FB7B213C3C0269F" />
            <ComponentRef Id="cmp481E31C5B96EE818C440FEAD492BCB90" />
            <ComponentRef Id="cmp67C28EB5D0951E9B1B8D277AD6CF6A0E" />
            <ComponentRef Id="cmp07E8FCA31F8CD31BD26044EA6334607C" />
            <ComponentRef Id="cmp4583B846B46F5F8637C6BEFDF98F16C6" />
            <ComponentRef Id="cmpAB8C8EED544C3700E363D52AC2C7AE12" />
            <ComponentRef Id="cmpCF31801EF0BDCE82C84400731DBC680A" />
            <ComponentRef Id="cmp0887F0EFC338949DE61BC46BCE6ED1D6" />
            <ComponentRef Id="cmp7186529587B69F2E90FB7FFF7568A249" />
            <ComponentRef Id="cmp188B8DE1A44BA845393B4141343DD19F" />
            <ComponentRef Id="cmp81E160A36A5BDE62854A6924FF0F400D" />
            <ComponentRef Id="cmpFD0C4A0437175455F9AF1E2CB962E5B4" />
            <ComponentRef Id="cmp753FD2F3790151C252CCBE64C5302F60" />
            <ComponentRef Id="cmp62211F857CA8AD9DE5CA0AFD90837F9A" />
            <ComponentRef Id="cmp727141DF5375637F06BDDFDFE96E3D4C" />
            <ComponentRef Id="cmpBA4A2C8A5A3792DE6D0DA7A6D859F4E9" />
            <ComponentRef Id="cmp4F29271B75281CC43F49FBD120171143" />
            <ComponentRef Id="cmpA7AB02EEA92B171B206E07F9F6FE1845" />
            <ComponentRef Id="cmpEBAFECDF12EA27275C13E8E843FBCD4F" />
            <ComponentRef Id="cmpC2F910C573ED7DE4B7E17B05D236B4FF" />
            <ComponentRef Id="cmp2BE6F2A0FBB9A3F48C1481BA7BA9447F" />
            <ComponentRef Id="cmp7B09EEC8423B409C8A177F15CF7DB9C3" />
            <ComponentRef Id="cmp0D9DE4D7927D645290F2F3122CBD86D9" />
            <ComponentRef Id="cmp811383BFAE366A51C74232681177BCA0" />
            <ComponentRef Id="cmp7DC1E02980617B6D34120757DB5BB806" />
            <ComponentRef Id="cmp1386185D85929DFC4DD91FFC5B62BDEE" />
            <ComponentRef Id="cmp695B3E0BEB53B9F12C5145192833A52A" />
            <ComponentRef Id="cmp7A4EC9D01F5A049CA53FF5DA375955E2" />
            <ComponentRef Id="cmp8DA8DF68C3390D65FC237969E5CEE179" />
            <ComponentRef Id="cmp3D326A9C3A54EA1DFDE2705E4775E9DE" />
            <ComponentRef Id="cmp3BF2A69BFBA4B98FA74BB2CEA0043981" />
            <ComponentRef Id="cmp546BDABD340BE10B20A8851443FF06CB" />
            <ComponentRef Id="cmpF0E155A3B03D1ADFCBCC7235D32FF7C8" />
            <ComponentRef Id="cmp4AE704996175E97953E3B472A7BF421B" />
            <ComponentRef Id="cmp073BA7F3DD2B08761379513761EB872C" />
            <ComponentRef Id="cmp04428E7277718AA8E19165724143FF64" />
            <ComponentRef Id="cmp4FFB0E1A8DCB74CA56C2060FB1C448D9" />
            <ComponentRef Id="cmpA26809F2045BAA6F514FFFCC39D3F13C" />
            <ComponentRef Id="cmp8787E2EC891362D1A2B265FBC14FB08D" />
            <ComponentRef Id="cmp5023B9A60F91793DA4D5B9E00BB98163" />
            <ComponentRef Id="cmp18D40AA72F3CA941001ABA101446E78C" />
            <ComponentRef Id="cmp71DEE7A8AA30CE37064B918229DB3FC6" />
            <ComponentRef Id="cmpCCC798C90A3DE233D7832B8C4DCEE8C3" />
            <ComponentRef Id="cmpD38923D4845818301EA3A4C7C5DC7E0A" />
            <ComponentRef Id="cmpC3FA82492881FDFD09A37757F50FA4AA" />
            <ComponentRef Id="cmp4FA70261BAFF5F2BAAD0558892611D67" />
            <ComponentRef Id="cmp5740D6572AED06DA553BD43158B14D24" />
            <ComponentRef Id="cmp1CDF5DA484ACE845B5579846556BD2CD" />
            <ComponentRef Id="cmp52AB597E4EFD2D9D87008078B94B72D6" />
            <ComponentRef Id="cmpA4771C4BAB2F4D46DF6C55807D2CDF50" />
            <ComponentRef Id="cmpA0567226EBC2DA814B20976FB6D593AE" />
            <ComponentRef Id="cmp9E3D70922B051905F9F627B2D641E4FC" />
            <ComponentRef Id="cmp1FB250745108273FE11C4251653FD64D" />
            <ComponentRef Id="cmpFD4EC1E7DC11646C2D74A96EBD745693" />
            <ComponentRef Id="cmp87DDAFE3C3D819D27F1D6CFBFB007EF5" />
            <ComponentRef Id="cmpBFDD4B09BD1D93D864C7474F9A15483E" />
            <ComponentRef Id="cmpF56DDAED410F19A65B53DBC09670E840" />
            <ComponentRef Id="cmp411398FD834A10986CB391AA63852A25" />
            <ComponentRef Id="cmp32024045F763EF4C4E64D6C47293D3C9" />
            <ComponentRef Id="cmp787F2483FAEF85D874876C7A6934DC94" />
            <ComponentRef Id="cmp488544C494DDB51E312D457CAF2E7D2B" />
            <ComponentRef Id="cmp48C99F5F640CAA0B9CD185D670653DCF" />
            <ComponentRef Id="cmpB28BE3ED0F2EB01F8783637C0E5E487F" />
            <ComponentRef Id="cmpF77D0E0846232A7189C7C9975DAF42D0" />
            <ComponentRef Id="cmpB5061AA65BB4FAE4D0DD8E6D96BB9EEE" />
            <ComponentRef Id="cmp2D922A4E45D62EDB9AE77B14C7A8D9BF" />
            <ComponentRef Id="cmpE6B6B7D0D3298EEFA3CA9D644CFFCB05" />
            <ComponentRef Id="cmp9EEF04AB307434583683FA89E807DC9B" />
            <ComponentRef Id="cmp768F0F9EBACEE8C54B680F786B3D3035" />
            <ComponentRef Id="cmp4BFE7B0FD2D52F571D300D89E1FA09C8" />
            <ComponentRef Id="cmpDCA52F34FCBB75790B3C2F8614A3B0FA" />
            <ComponentRef Id="cmpC3479E49EBD25277D9D157644A5F859B" />
            <ComponentRef Id="cmp0C962D776724FD74C0738835EE121E3C" />
            <ComponentRef Id="cmp22BC909FE7F47B591484DDAD3DCC75E0" />
            <ComponentRef Id="cmpAE65330835C5AAB281584D4FFE4B05EA" />
            <ComponentRef Id="cmp029F2DD3BFAFEC42151D930BF3112D29" />
            <ComponentRef Id="cmpA2A43EABC96DA02F9CD7D6B9E7E529DF" />
            <ComponentRef Id="cmp7FCA8ABD5E0F6C1D3DDD55CBD1F20567" />
            <ComponentRef Id="cmpCAF38ECEDBC6388A5B450D619B097249" />
            <ComponentRef Id="cmp4CC4526D485CC95B8896850158F67EB8" />
            <ComponentRef Id="cmp398DB0D0BDBDEE9B0FA7D08539F94393" />
            <ComponentRef Id="cmpFEF5CD7F9BC05B798CC0CE780BC58773" />
            <ComponentRef Id="cmpCE5B6331638951710EB31B48DC67C780" />
            <ComponentRef Id="cmp3D084AADCE8B9A8CA3690EB2DE59A62C" />
            <ComponentRef Id="cmpFC436AB8B2D36527356ED936090A952D" />
            <ComponentRef Id="cmp23E575600B68D1D84BE6F1C6C3233487" />
            <ComponentRef Id="cmp55B0D28E98DB73DAD4D1FECC4C4B7F32" />
            <ComponentRef Id="cmpC953E46CB6E29489882C1FFD30EB3FD2" />
            <ComponentRef Id="cmpED153B21E38CEE5669A7BA23D5EB1ADE" />
            <ComponentRef Id="cmp2CD377B28D74A6AD9C141603E1F96BC6" />
            <ComponentRef Id="cmpB6890DF54480F7CD825477318D4D37E0" />
            <ComponentRef Id="cmpDA093C8DF40EFF2A5D161F038303E6EB" />
            <ComponentRef Id="cmpB1D9303FF22831ABFDCDB5B538C27B01" />
            <ComponentRef Id="cmpEFD48359C47965A17C0878F551958078" />
            <ComponentRef Id="cmp8A88CD239DEECBEE1B6D581B88DC1413" />
            <ComponentRef Id="cmp05EA0ED19C7FF9C4068E463F71D8EE5F" />
            <ComponentRef Id="cmp62D055B66A6B40E04D37E77DAD89B442" />
            <ComponentRef Id="cmp28FB02110DF14768E74AAB79298CE705" />
            <ComponentRef Id="cmpD44C8103E9D3842F95E5C8996E9897F9" />
            <ComponentRef Id="cmp34E7A311C3BD4935B0CF14DD65B2FDCF" />
            <ComponentRef Id="cmp4B2914E5EE2AC9237CB756CA747EA3FF" />
            <ComponentRef Id="cmp5DC9CE58BC0F8602DC40F447BA27C204" />
            <ComponentRef Id="cmpA9B58AB05C777ADEF1E45EE3DC739F76" />
        </ComponentGroup>
    </Fragment>
</Wix>