<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include WaqDefines.wxi?>
    <Fragment>
        <DirectoryRef Id="PLCTLibDir">
            <Component Id="cmp4FEB628B222D7AB5A9F17F12AEB3A44B" Guid="*">
                <File Id="fil7C50B75EB21D885A1018BC6E199F7973" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\convhyd.bat" />
            </Component>
            <Component Id="cmpC971B2D9EB50D95AC8CAF12D1FE97169" Guid="*">
                <File Id="fil09BB5A0858B3B5565613C38222AED74E" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\coup203.exe" />
            </Component>
            <Component Id="cmp12A5145AF469B4CA2731A74B588B75AA" Guid="*">
                <File Id="fil081D19CB018FD87C1C8D0A6E1C376C6C" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\coupsds.exe" />
            </Component>
            <Component Id="cmpB7DED4664F61583088C2A55AC3173D46" Guid="*">
                <File Id="fil371178A209EDCF8D4C56C1F6A1C70159" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\ddcouple.exe" />
            </Component>
            <Component Id="cmpE12D14FDD71AAF4B5A9973F4E73AE6B6" Guid="*">
                <File Id="fil3357ECF5B1D468F0169CAEE1853A777C" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\Dformd.dll" />
            </Component>
            <Component Id="cmpDB58049BFFB7861E829897AE687DC702" Guid="*">
                <File Id="fil76BD2FF9DFC430DFF6B3BDD2B555882A" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\Dformdd.dll" />
            </Component>
            <Component Id="cmp17D05FA0B0276431980636943B1C7342" Guid="*">
                <File Id="fil5243DD69CA317B767BC079880A702C5A" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\ERRCODES.TXT" />
            </Component>
            <Component Id="cmp2BA773C188BAE334FBCBAD70AD668B65" Guid="*">
                <File Id="fil47FB16521568DA5D0681B9C13D37EAD4" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\hdf5dll.dll" />
            </Component>
            <Component Id="cmpBE2C70BD2293002D79A8BF2005CAA9B3" Guid="*">
                <File Id="filAF8E6CD4B74EE81735AA4AB9AD865DCE" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\hdf5_hldll.dll" />
            </Component>
            <Component Id="cmpF7F33DAF352F26188FC1D601A8BD59F0" Guid="*">
                <File Id="filCFC17F8D846ED6DD11C579B7CB053F7A" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\install_open_proc_lib.tcl" />
            </Component>
            <Component Id="cmpE0B9E0675761F43B8479D9274BEBF2D7" Guid="*">
                <File Id="filAC0FA2C51BD1C8E9F0692FAD1F6852DF" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\libguide40.dll" />
            </Component>
            <Component Id="cmp6770A22E45EE4830CAC9E3FCDFC9905C" Guid="*">
                <File Id="filB27A4A0828B74A713EBE56B062A987A7" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\msvcr100.dll" />
            </Component>
            <Component Id="cmpC1DF88AC09A7FD44950D32A35F750D29" Guid="*">
                <File Id="fil15368C91D7354884CC80C7993112E915" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\msvcr100d.dll" />
            </Component>
            <Component Id="cmpCD7FA0816AF9D6F51127324E763CC168" Guid="*">
                <File Id="fil06A4D34AFE8A8979AECD87423CD1BD72" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\msvcr120.dll" />
            </Component>
            <Component Id="cmp5900460CEA696096CDA7363FF8E1F287" Guid="*">
                <File Id="filD8BCE22B3B6516C4D90B87C8223997D1" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\msvcr120d.dll" />
            </Component>
            <Component Id="cmp4F8DBC386F0CFB14294183E830090D8E" Guid="*">
                <File Id="fil226A295134257438BD3C53A48E341963" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\msvcrt.dll" />
            </Component>
            <Component Id="cmpD2C3F8893DFDEE1925B68289B43B5A6C" Guid="*">
                <File Id="filCF56F9C6994FD6A3A84645034EDEA763" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\msvcrtd.dll" />
            </Component>
            <Component Id="cmp94DDE1DCA00D972D0AE9222632D44DB9" Guid="*">
                <File Id="fil22F2441C908E9D2F281D947633C5C8ED" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\nestwq1.exe" />
            </Component>
            <Component Id="cmp3EAFFB7E81205516E27AFA9F625DDC12" Guid="*">
                <File Id="filB591DEA3C4826C8A8FBD273C0EA5511E" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\nestwq2.exe" />
            </Component>
            <Component Id="cmpE7285C2BCB3071ED8253C840E9B12BC7" Guid="*">
                <File Id="filA818873DE0AB3028B36CCF532B6F1B97" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\netcdf.dll" />
            </Component>
            <Component Id="cmpC3E9FC68C1DEC1FFDE7B92FF171BC5D1" Guid="*">
                <File Id="filE8EFA3476DE1BA94E2AD4D2139A81CA4" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\plct.exe" />
            </Component>
            <Component Id="cmp76F9ACC140A77728039A86D954C2520D" Guid="*">
                <File Id="fil3059913754FAF6BF8A05C31CEB3C2215" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\pthreadVCE.dll" />
            </Component>
            <Component Id="cmp78162E91747748E1249C9D800F91741B" Guid="*">
                <File Id="fil6551A0BE8DC9EDC12BC1E77AC3E1B61D" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\restore_d3d_proc_lib.tcl" />
            </Component>
            <Component Id="cmp8431DBC398A535CC898C798075B5EFE2" Guid="*">
                <File Id="fil13A76EE92AF84F95CF27FC6F2964B321" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\sbk_err.txt" />
            </Component>
            <Component Id="cmpC718D36C680DA997B4B30DCCBED29A7D" Guid="*">
                <File Id="fil8F761A41B9407EE0175ECF9C44B9E00C" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\SEL_SUBS.BAT" />
            </Component>
            <Component Id="cmp1FB678F42D175390A385481C6670E429" Guid="*">
                <File Id="fil2715A85D6BA343E81F4F615ECA6A22C7" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\SIMETF" />
            </Component>
            <Component Id="cmp90074FE41F1624095035C7C8F1100E69" Guid="*">
                <File Id="filBD7E6A9E3D5C44A92509BC2013596F08" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\SIMONA.ENV" />
            </Component>
            <Component Id="cmp94243F306E819A17F31C8277392E39DF" Guid="*">
                <File Id="filC04B14C0F5BF3B0D005ACA4BAF6B0E0D" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\sim_err.txt" />
            </Component>
            <Component Id="cmp635599FE01F175F6F8A91F2A9CA70CEC" Guid="*">
                <File Id="filB79F4FD36C10F6901228E99D52D24542" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\start_compiler.tcl" />
            </Component>
            <Component Id="cmp02D2913F374B407DB7CFC978BDD98E4A" Guid="*">
                <File Id="fil641B4ED4E20E82139206656DB18E09DA" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\szlibdll.dll" />
            </Component>
            <Component Id="cmp886BADADF0461BB1E1742F8FDE4775F9" Guid="*">
                <File Id="filE08E8CCA90A940E7A611B6EF998BE2D1" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\waq.hlp" />
            </Component>
            <Component Id="cmp928D8F1326D7A1680C23549909789842" Guid="*">
                <File Id="fil27E0067311C0E31F21CAB883FAE5E906" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\waq_gui.exe" />
            </Component>
            <Component Id="cmpD63A9F6779A17F04DCA30ACCA7CDEA2B" Guid="*">
                <File Id="filC137EB8403397322AB444D9AAAB59826" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\xnmba131.dll" />
            </Component>
            <Component Id="cmp3A3572A12171BCB4C1A170C8897DBB11" Guid="*">
                <File Id="fil653F742EC33DC683938414D901D6AE38" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\xnmhb131.dll" />
            </Component>
            <Component Id="cmp462B65E9CD7C1463F2F146057F957631" Guid="*">
                <File Id="filA55BFAD0100334582065CE0BBD7467F9" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\xnmhn131.dll" />
            </Component>
            <Component Id="cmp653EC79DA1F8503BFD7A25F0CA75E759" Guid="*">
                <File Id="fil106CC51BD3D8719EF21EBB303B4C5C23" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\xvt_err.txt" />
            </Component>
            <Component Id="cmpBA62B05C229F1A23DEC8128E13623A7C" Guid="*">
                <File Id="filD2F1A144AF487011DB6A3C6C8CF8B9C3" KeyPath="yes" Source="$(var.PLCT_kernels_lib_dir)\zlib1.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PLCTLibs">
            <ComponentRef Id="cmp4FEB628B222D7AB5A9F17F12AEB3A44B" />
            <ComponentRef Id="cmpC971B2D9EB50D95AC8CAF12D1FE97169" />
            <ComponentRef Id="cmp12A5145AF469B4CA2731A74B588B75AA" />
            <ComponentRef Id="cmpB7DED4664F61583088C2A55AC3173D46" />
            <ComponentRef Id="cmpE12D14FDD71AAF4B5A9973F4E73AE6B6" />
            <ComponentRef Id="cmpDB58049BFFB7861E829897AE687DC702" />
            <ComponentRef Id="cmp17D05FA0B0276431980636943B1C7342" />
            <ComponentRef Id="cmp2BA773C188BAE334FBCBAD70AD668B65" />
            <ComponentRef Id="cmpBE2C70BD2293002D79A8BF2005CAA9B3" />
            <ComponentRef Id="cmpF7F33DAF352F26188FC1D601A8BD59F0" />
            <ComponentRef Id="cmpE0B9E0675761F43B8479D9274BEBF2D7" />
            <ComponentRef Id="cmp6770A22E45EE4830CAC9E3FCDFC9905C" />
            <ComponentRef Id="cmpC1DF88AC09A7FD44950D32A35F750D29" />
            <ComponentRef Id="cmpCD7FA0816AF9D6F51127324E763CC168" />
            <ComponentRef Id="cmp5900460CEA696096CDA7363FF8E1F287" />
            <ComponentRef Id="cmp4F8DBC386F0CFB14294183E830090D8E" />
            <ComponentRef Id="cmpD2C3F8893DFDEE1925B68289B43B5A6C" />
            <ComponentRef Id="cmp94DDE1DCA00D972D0AE9222632D44DB9" />
            <ComponentRef Id="cmp3EAFFB7E81205516E27AFA9F625DDC12" />
            <ComponentRef Id="cmpE7285C2BCB3071ED8253C840E9B12BC7" />
            <ComponentRef Id="cmpC3E9FC68C1DEC1FFDE7B92FF171BC5D1" />
            <ComponentRef Id="cmp76F9ACC140A77728039A86D954C2520D" />
            <ComponentRef Id="cmp78162E91747748E1249C9D800F91741B" />
            <ComponentRef Id="cmp8431DBC398A535CC898C798075B5EFE2" />
            <ComponentRef Id="cmpC718D36C680DA997B4B30DCCBED29A7D" />
            <ComponentRef Id="cmp1FB678F42D175390A385481C6670E429" />
            <ComponentRef Id="cmp90074FE41F1624095035C7C8F1100E69" />
            <ComponentRef Id="cmp94243F306E819A17F31C8277392E39DF" />
            <ComponentRef Id="cmp635599FE01F175F6F8A91F2A9CA70CEC" />
            <ComponentRef Id="cmp02D2913F374B407DB7CFC978BDD98E4A" />
            <ComponentRef Id="cmp886BADADF0461BB1E1742F8FDE4775F9" />
            <ComponentRef Id="cmp928D8F1326D7A1680C23549909789842" />
            <ComponentRef Id="cmpD63A9F6779A17F04DCA30ACCA7CDEA2B" />
            <ComponentRef Id="cmp3A3572A12171BCB4C1A170C8897DBB11" />
            <ComponentRef Id="cmp462B65E9CD7C1463F2F146057F957631" />
            <ComponentRef Id="cmp653EC79DA1F8503BFD7A25F0CA75E759" />
            <ComponentRef Id="cmpBA62B05C229F1A23DEC8128E13623A7C" />
        </ComponentGroup>
    </Fragment>
</Wix>