<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include WaqDefines.wxi?>
    <Fragment>
        <DirectoryRef Id="SubstancesFilesDir">
            <Component Id="cmp829122A2690E0B052692C36650332B34" Guid="*">
                <File Id="filB55AFC0ACA62C4A21500CF6CCC86E8A6" KeyPath="yes" Source="$(var.substances_files_dir)\01_Oxygen_simple.0" />
            </Component>
            <Component Id="cmpE5D0EF3385EA0FBBD64EAA6754275934" Guid="*">
                <File Id="filE200D408851482F2F97C38658762E74D" KeyPath="yes" Source="$(var.substances_files_dir)\01_Oxygen_simple.des" />
            </Component>
            <Component Id="cmpFC4D5BC8B746CB74B1BC348BDE0AF96F" Guid="*">
                <File Id="fil6BB7FFC6A856C5D0D95341199F0EEFAA" KeyPath="yes" Source="$(var.substances_files_dir)\01_Oxygen_simple.sub" />
            </Component>
            <Component Id="cmpD09266A7922E330AC0D91EE34F0BDD05" Guid="*">
                <File Id="filBC8B90ACDBB12A6B00072A9B5CAF00D2" KeyPath="yes" Source="$(var.substances_files_dir)\01_Tracers.des" />
            </Component>
            <Component Id="cmp3C38386FDD2E6C2FBBA567BE81BDF4D0" Guid="*">
                <File Id="filCFC2A59DD6A33FC6A30A727D767F1433" KeyPath="yes" Source="$(var.substances_files_dir)\01_Tracers.sub" />
            </Component>
            <Component Id="cmp6066D1C80EE22A362019E8FAB319145A" Guid="*">
                <File Id="fil994111DE2822DD08D135071C894879A5" KeyPath="yes" Source="$(var.substances_files_dir)\02b_Oxygen_bod_sediment.des" />
            </Component>
            <Component Id="cmp0DAA3C83E135C531601B24E4305C424F" Guid="*">
                <File Id="filF0B6448676E7B924AC4BB04D69A2F653" KeyPath="yes" Source="$(var.substances_files_dir)\02b_Oxygen_bod_sediment.sub" />
            </Component>
            <Component Id="cmp2D03C9BFA28830465197EF89021E2962" Guid="*">
                <File Id="fil00A73F3CBB1EF3629D48D0B1D98D6D31" KeyPath="yes" Source="$(var.substances_files_dir)\02_Oxygen_bod.0" />
            </Component>
            <Component Id="cmp89429DC0212DBEAD80B5EAF590D14482" Guid="*">
                <File Id="fil7FEBD2F33B5E6F9D5639C8016477D2BF" KeyPath="yes" Source="$(var.substances_files_dir)\02_Oxygen_bod.des" />
            </Component>
            <Component Id="cmp73565E595BAEF82EC14148FD06CF34E2" Guid="*">
                <File Id="fil15AAC5FED661C406AAD650A1D5DC277D" KeyPath="yes" Source="$(var.substances_files_dir)\02_Oxygen_bod.sub" />
            </Component>
            <Component Id="cmp7E27B11F47BFEDABDFD254C31BA443F1" Guid="*">
                <File Id="fil516459F3132C52496AC210401BF29B6B" KeyPath="yes" Source="$(var.substances_files_dir)\03_Coliform_bacteria.des" />
            </Component>
            <Component Id="cmp65867A88D3D0E06A544E4A4CE98DCE88" Guid="*">
                <File Id="fil2DE93CB593B956FB7005FE1604CDB2F5" KeyPath="yes" Source="$(var.substances_files_dir)\03_Coliform_bacteria.sub" />
            </Component>
            <Component Id="cmpF0E97340D1EAAC67A4AFDE27AE2B8F3D" Guid="*">
                <File Id="filC5CB3D8826B70E4141E735447F67B4E1" KeyPath="yes" Source="$(var.substances_files_dir)\04_Eutrof_simple.0" />
            </Component>
            <Component Id="cmp38C6A4EA54D2AB71BC1D9F0F49E3DCF9" Guid="*">
                <File Id="fil0F7A0AD2A3FB0AA629DA6E888536EC9B" KeyPath="yes" Source="$(var.substances_files_dir)\04_Eutrof_simple.des" />
            </Component>
            <Component Id="cmp5777869B7CA5701F975820D7DBAAFBB2" Guid="*">
                <File Id="fil18BB19222742880D600805798B2C69AD" KeyPath="yes" Source="$(var.substances_files_dir)\04_Eutrof_simple.sub" />
            </Component>
            <Component Id="cmp3F13942CE2AB0ED91AC4684044EDCEE8" Guid="*">
                <File Id="filE45424B3EF4580512D20628449644036" KeyPath="yes" Source="$(var.substances_files_dir)\05_Eutrof_multiple_species.des" />
            </Component>
            <Component Id="cmpA4634735397995D81806757E0D2BA49F" Guid="*">
                <File Id="fil45448E6EA67D97220A27EC8C66D855FB" KeyPath="yes" Source="$(var.substances_files_dir)\05_Eutrof_multiple_species.sub" />
            </Component>
            <Component Id="cmp8A5FC82EEDC610EC7535C4C56A54EFF3" Guid="*">
                <File Id="fil1BD89787570202D7DE899F0979B6FF83" KeyPath="yes" Source="$(var.substances_files_dir)\06_Suspended_sediment.0" />
            </Component>
            <Component Id="cmpB2534ABC5F07DE765225F91EC69945AE" Guid="*">
                <File Id="filDA056E8818B80879AED541CD36757B5B" KeyPath="yes" Source="$(var.substances_files_dir)\06_Suspended_sediment.des" />
            </Component>
            <Component Id="cmpD67C907E03178301DDA9F5AB83168D02" Guid="*">
                <File Id="filA50A8C48007CAE9B31E77487ED38C561" KeyPath="yes" Source="$(var.substances_files_dir)\06_Suspended_sediment.sub" />
            </Component>
            <Component Id="cmp4DA67D07B271A8E9BFF4671F8DCCC7D9" Guid="*">
                <File Id="filABF9E86B6C98B04BE06B309A1A94DA7D" KeyPath="yes" Source="$(var.substances_files_dir)\07_Metals_Cd.0" />
            </Component>
            <Component Id="cmpBF1EE4D4E61BAC11E848D4653ED07155" Guid="*">
                <File Id="fil47A91E48D385B1723E46274E0A24839E" KeyPath="yes" Source="$(var.substances_files_dir)\07_Metals_Cd.des" />
            </Component>
            <Component Id="cmp42287C497BB97FA1B067C598592641EC" Guid="*">
                <File Id="filA36779C88F1BB97D173D145E58164ADB" KeyPath="yes" Source="$(var.substances_files_dir)\07_Metals_Cd.sub" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SubstancesFiles">
            <ComponentRef Id="cmp829122A2690E0B052692C36650332B34" />
            <ComponentRef Id="cmpE5D0EF3385EA0FBBD64EAA6754275934" />
            <ComponentRef Id="cmpFC4D5BC8B746CB74B1BC348BDE0AF96F" />
            <ComponentRef Id="cmpD09266A7922E330AC0D91EE34F0BDD05" />
            <ComponentRef Id="cmp3C38386FDD2E6C2FBBA567BE81BDF4D0" />
            <ComponentRef Id="cmp6066D1C80EE22A362019E8FAB319145A" />
            <ComponentRef Id="cmp0DAA3C83E135C531601B24E4305C424F" />
            <ComponentRef Id="cmp2D03C9BFA28830465197EF89021E2962" />
            <ComponentRef Id="cmp89429DC0212DBEAD80B5EAF590D14482" />
            <ComponentRef Id="cmp73565E595BAEF82EC14148FD06CF34E2" />
            <ComponentRef Id="cmp7E27B11F47BFEDABDFD254C31BA443F1" />
            <ComponentRef Id="cmp65867A88D3D0E06A544E4A4CE98DCE88" />
            <ComponentRef Id="cmpF0E97340D1EAAC67A4AFDE27AE2B8F3D" />
            <ComponentRef Id="cmp38C6A4EA54D2AB71BC1D9F0F49E3DCF9" />
            <ComponentRef Id="cmp5777869B7CA5701F975820D7DBAAFBB2" />
            <ComponentRef Id="cmp3F13942CE2AB0ED91AC4684044EDCEE8" />
            <ComponentRef Id="cmpA4634735397995D81806757E0D2BA49F" />
            <ComponentRef Id="cmp8A5FC82EEDC610EC7535C4C56A54EFF3" />
            <ComponentRef Id="cmpB2534ABC5F07DE765225F91EC69945AE" />
            <ComponentRef Id="cmpD67C907E03178301DDA9F5AB83168D02" />
            <ComponentRef Id="cmp4DA67D07B271A8E9BFF4671F8DCCC7D9" />
            <ComponentRef Id="cmpBF1EE4D4E61BAC11E848D4653ED07155" />
            <ComponentRef Id="cmp42287C497BB97FA1B067C598592641EC" />
        </ComponentGroup>
    </Fragment>
</Wix>