<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DeltaShell;plugins;plugins\DeltaShell.Plugins.OpenMI;plugins\DeltaShell.Plugins.DelftModels.WaterFlowModel;plugins\DeltaShell.Plugins.Data.NHibernate;plugins\DeltaShell.Plugins.DelftModels.RainfallRunoff;plugins\DeltaShell.Plugins.Scripting" />
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    <probing privatePath="DeltaShell;plugins;plugins\DeltaShell.Plugins.Data.NHibernate" /></assemblyBinding>
  </runtime>
</configuration>