<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DeltaShell;plugins;plugins\DeltaShell.Dimr;plugins\DeltaShell.Dimr.Gui;plugins\DeltaShell.Plugins.DelftModels.RainfallRunoff;plugins\DeltaShell.Plugins.Data.NHibernate;plugins\DeltaShell.Plugins.ImportExport.Sobek;plugins\DeltaShell.Plugins.DelftModels.WaterFlowModel;plugins\DeltaShell.Plugins.DelftModels.RealTimeControl;plugins\DeltaShell.NGHS.IO;plugins\DeltaShell.Plugins.Data.NHibernate;plugins\DeltaShell.Plugins.FMSuite.FlowFM" />
    </assemblyBinding>
  </runtime>
</configuration>