<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
  <log4net>
    <appender name="consoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" /> -->
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <appender name="fileAppender" type="log4net.Appender.FileAppender">
      <file value="DeltaShell.log" />
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="consoleAppender" />
    </root>
    <logger name="DelftTools.Utils.Aop" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="DeltaShell.Loader" additivity="false">
      <level value="INFO" />
      <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="DeltaShell.Plugins.Data.NHibernate" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="consoleAppender" />
    </logger>
    <!-- NHIbernate logger is needed :( otherwise we crash or veeery slow. Log into void-->
    <logger name="NHibernate" additivity="false">
      <level value="ERROR" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <probing privatePath="DeltaShell;plugins;plugins\DeltaShell.Plugins.Fews;plugins\DeltaShell.Plugins.DelftModels.WaterFlowModel;plugins\DeltaShell.Plugins.Scripting;plugins\DeltaShell.Plugins.DelftModels.RealTimeControl;plugins\DeltaShell.Plugins.Data.NHibernate;" />
    <probing privatePath="DeltaShell;plugins;plugins\DeltaShell.Plugins.Data.NHibernate" /></assemblyBinding>
  </runtime>
</configuration>
